ACTION=="add", ATTRS{idVendor}=="05e3", ATTRS{idProduct}=="0608", RUN+="/usr/bin/laptop"
ACTION=="remove", ATTRS{idVendor}=="05e3", ATTRS{idProduct}=="0608", RUN+="/usr/bin/desktop"
 
